@{
    ViewBag.Title = "Home Page";
}

<body style="text-align: center; background: lightpink">
<h2>Getting started</h2>
<h1 style="color: violet; font-size: 50px">Tran Duc Huy</h1>
<p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid amet aperiam consequuntur dicta eos est et,
    explicabo iure, laudantium maiores obcaecati officiis possimus quidem reiciendis repellat rerum sapiente, ullam veniam?
</p>
<ul>
    <li>
        <a href="" style="font-size: 20px">Contacts</a>
    </li>
    <li>
        <a href="https://dangoontheweb.wordpress.com" style="font-size: 20px">My Blog</a>
    </li>
</ul>
<form action="">
    <p>
        
    </p>
    <label for="username">Username</label>
    <input type="text" name="username" id="username">
</form>
</body>